.range-slider {
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 15px;
    background: #CECECE;
  
    &__progress {
      position: absolute;
      left: 25%;
      right: 0%;
      height: 100%;
      border-radius: 15px;
      background: #1C0BD7;
    }
  
    &__input {
      position: absolute;
      width: 100%;
      height: 10px;
      -webkit-appearance: none;
      appearance: none;
      pointer-events: none;
      background: none;
      outline: none;
  
      &::-webkit-slider-thumb {
        pointer-events: auto;
        -webkit-appearance: none;
        width: 0.5rem;
        height: 1.25rem;
        background: #fff;
        border: 1px solid #1C0BD7;
        border-radius: 1rem;
        opacity: 1;
        cursor: e-resize;
      }
    }
  
    &__value {
      display: flex;
      align-items: center;
      font-size: 14px;
  
      &.max-value {
        padding-inline-start: 0.5rem;
      }
  
      input {
        border: 0;
        background: transparent;
        width: 1.75rem;
      }
    }
    #range {
      position: relative;
      width: 100%;
      height: 10px;
      border-radius: 15px;
      background:#CECECE;
    }
    #range .range-slider__range {
      background-color:#1C0BD7;
    }
    #range .range-slider__thumb {
      pointer-events: auto;
      -webkit-appearance: none;
      appearance: none;
      width: 0.5rem;
      height: 1.25rem;
      background: #fff;
      border: 1px solid #1C0BD7;
      border-radius: 1rem;
      opacity: 1;
      cursor: e-resize;
    }
  }
  