


:root {
    --body: #ffffff;
    --white: #ffffff;
    --title: #222E48;
    --subtitle: #222E48;
    --base: #0D47A1;
    --hover: #2196F3;
    --base2: #F3A102;
    --base3: #FFBE57;
    --base4: #FF5722;
    --basebg1: #43A047;
    --neutral: #071431;
    --catebox: #E7EDF6;
    --sign: #F8F9FC;
    --opacitys: #979CA8;
    --bgsection: #F8F9FC;
    --pra: #404A60;
    --dash:  #B2B6BF;
    --menuborder:  #343E56;
    --placeholder: #B2B6BF;
    --pragraph: #404A60;
    --pragraph2: #404A60;
    --pragraph3: #354764;
    --border: #DFE0E4;
    --danger: #ED5050;
    --success: #3FCA90;
    --success2: #2E7D32;
    --ratting: #FFBE57;
    --mborder: #c9d5f0c9;
    --footer: #071431;
    --boxes1: #F3F6FA;
    --boxes2: #FFF3F0;
    --boxes3: #FFF9EE;
    --boxes4: #E8EDF9;
    --borderdot: #C1C4CC;
    --icolor1: #9C4F41;
    --icolor2: #9C7435;
    --pagination: #1C1B1F;
    --whitep: #F5F6F7;
    --bartext: #243757;
    --barbg: #EBEBFD;
    --tableborder: #EBECEF;
}